[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggpicrust2"]
	path = ggpicrust2
	url = https://github.com/cafferychen777/ggpicrust2
